
<!-- <app-simpleform1></app-simpleform1>

<p style="background-color:antiquewhite "><b>Bellow all Practice</b></p>
<p style="background-color: black ">...................................................</p>
<app-simpleform2></app-simpleform2>
<p style="background-color: black ">...................................................</p>
<app-simpleform3></app-simpleform3>
<p style="background-color: black ">...................................................</p>
<app-simpleform4></app-simpleform4>
<p style="background-color: black ">...................................................</p>
<app-simpleform5></app-simpleform5>
<p style="background-color: black ">...................................................</p>
<app-simpleform6></app-simpleform6>
<p style="background-color: black ">...................................................</p>
<app-simpleform7></app-simpleform7>
<p style="background-color: black ">...................................................</p>
<app-simpleform8></app-simpleform8>
<p style="background-color: black ">...................................................</p>
<app-simpleform9></app-simpleform9> -->
<p style="background-color: black ">...................................................</p>
<app-simpleform10></app-simpleform10>
<p style="background-color: black ">...................................................</p>
<app-simpleform11></app-simpleform11>

<p style="background-color: black ">...................................................</p>

<p style="background-color: black ">...................................................</p>

<p style="background-color: black ">...................................................</p>

<p style="background-color: black ">...................................................</p>

<router-outlet></router-outlet>
